/*цвет основного текста #212121 */
/*вторичний цвет текста #757575*/
/* белий #F5F5F5 */
/* акцент #2196F3 */
/* вторичний цвет фона #F5F4FA */


img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  h1,h2,h3,a,p,li{
    margin-top: 0;
    margin-bottom: 0;
  }



:root{
    --primary-text-color:#757575;
    --title-text-color:#212121;
    --accent-color:#2196F3;
    --background-hero: #2F303A;
    --white:#fff;
    --primary-background: #F5F5F5;
    --secondary-background:#F5F4FA;
    --shadow:rgba(0, 0, 0, 0.25);
    --line: #ECECEC;
    --icon-color:#AFB1B8;
    --time:250ms;
    --cubic:cubic-bezier(0.4, 0, 0.2, 1);
    --card-text-color: rgba(33, 150, 243, 0.9);
    --black:#000000;
    --button-hover:#188CE8;
}


body{
margin: 0;
background-color:var(--white);
color: var(--primary-text-color) ;
font-family:Roboto, sans-serif;
letter-spacing: 0.03em;
}
.section.no_padding{
    padding-top: 0;
    
}
.section{
    padding-top: 94px;
    padding-bottom: 94px;
}

.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;

}

/*Хедер*/
.header_block{
    display: flex;
    align-items: center;
}

ul {
    list-style:none;
    padding: 0;
    margin: 0;
}


.logo{
    color: var(--accent-color);
    font-family:Raleway,sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: calc(30/25);
}
.link,
.adress,
.auth{
   text-decoration: none; 
}

.part_logo{
    color:var(--title-text-color);
    
}
.site_nav{
    display: flex;
    margin-left: 93px;
}
.site_nav .nav_item:not(:last-child){
    margin-right:50px;
   
}
.nav_links{
    display: block;
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16/12);
    padding-top: 32px;
    padding-bottom: 32px;
    position: relative;
    transition: color var(--time) var(--cubic);
}

.nav_links:hover,
.nav_links:focus{
color: var(--accent-color);
}

.nav_links.current{
    color: var(--accent-color);
}
.current:after{
content: '';
display: block;
width: 100%;
height: 4px;
background-color: var(--accent-color);
border-radius: 2px;
position: absolute;

bottom: 0;
}

.auth_nav{
    display: flex;
    margin-left: auto;
    gap: 50px;
}
.auth_nav .auth_item + .auth_item{
    margin-left: 50px; 
}
.auth_ref{
    display: flex;
    align-items: center;
    color: var(--primary-text-color);
    text-decoration:none ;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16/12);
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color var(--time) var(--cubic);
}

.auth_nav .auth_ref:hover,
.auth_nav .auth_ref:focus{
color: var(--accent-color);

}
.icon_envelope{
width: 16px;
height: 13px;   
margin-right: 10px;
fill: currentColor;
}
.icon_telefon{
    width: 12px;
    height: 16px; 
    margin-right: 10px;  
    fill: currentColor;
    }

/*Секція хіро*/

.main_title{
    color: var(--primary-background);
    font-weight: 900;
    font-size: 44px;
    line-height: calc(60/44);
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    
}
.footer{
    background-color: var(--background-hero);

}

.hero{
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
 }
 
.overlay{
    height: 600px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background-image:linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)),
    url(../images/hero.jpg);
    background-color: #C4C4C4;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.button{
display: inline-block;
color: var(--primary-background);
background-color: var(--accent-color);
border-color: transparent;
font-family: inherit;
cursor: pointer;
font-weight: 700;
font-size: 16px;
line-height: 30px;
letter-spacing: 0.06em;
padding: 10px 32px;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
min-width: 220px;
max-height: 50px;
margin-top: 30px;
transition: background-color var(--time)var(--cubic);
}
.button:hover,
.button:focus{
    background-color: var(--button-hover);
}


.section_title,
.features_title{
  color: var(--title-text-color);  
}

/*Секція фічі*/
.feature_box{
    display: flex;
    align-items: center;
    justify-content: center;
    width:270px;
    height:120px;
    background-color: var(--secondary-background);
    margin-bottom: 30px;
    gap: 30px;
}
.features_icon{
    width: 70px;
    height: 70px;
}
.features{
    display: flex;
    align-items: center;
}
.features_item{
    min-height: 270px;
}

.features .features_item+.features_item{
margin-left: 30px;
}
.features_title{
    font-size: 14px;
    line-height: calc(16/14);
    text-transform: uppercase;
    margin-bottom: 10px;
}
.features_title,
.team_member{
    color: var(--title-text-color);
}

.features_text,
.team_text{
    color: var(--primary-text-color);
}
.features_text{
    font-size: 14px;
    line-height: calc(24/14);
}
/*Секція картинок*/
.we_do{
    display: flex;
}
.we_do .we_do_item+.we_do_item{
margin-left: 30px;
}
.section_title{
font-size: 36px;
margin-top: 0;
margin-bottom: 50px;
line-height: calc(42/36);
text-align: center;
}
.we_do_text{
font-weight: 700;
font-size: 14px;
line-height: calc(16/14);
text-align: center;
text-transform: uppercase;
color:var(--white);
}
.we_do_item{
    position: relative;
}
.we_do_box{
    background-color:rgba(47, 48, 58, 0.8); 
    position: absolute;
    bottom: 0;
    min-height: 70px;
    justify-content: center;
    width: 100%;
    display: flex;
    align-items: center;
}

/*Наша команда*/
.socials{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 16px;
}
.socials_item {
    display: flex;
    width: 44px;
    height: 44px;
}
.socials_link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--white);
    color: var(--icon-color);
    transition: color var(--time) var(--cubic),background-color var(--time)var(--cubic);
}
    
.socials_link:hover, 
.socials_link:focus {
    background-color: var(--accent-color);
    color: var(--white);

    }
    .socials_icon {
        fill: currentColor;
        height: 20px;
        width: 20px;
    }
.piclist{
    display: flex;
}
.picture{
    background: var(--white);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    padding-bottom: 30px;
    filter:drop-shadow(0px 4px 4px var(--shadow));
}

.piclist .picture+.picture{
    margin-left: 30px;
}
.team_section{
background-color:var(--secondary-background);
}

.team_member{
    font-size: 16px;
    line-height: calc(19/16);
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
}
.team_text{
    font-size: 16px;
    line-height: calc(19/16);
    text-align: center;
}
/*Clients*/
.clients{
    text-align: center;
    line-height: calc(42/36);
    font-size: 36px;
    color: var(--title-text-color);
    margin-bottom: 50px;
}
.clients_list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.clients_item{
    width: 170px;
    height: 92px;
}
 
.clients_ref{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--icon-color);
    width: 100%;
    height: 100%;
    border: 1px solid var(--icon-color);
    border-radius: 4px;
    transition: color var(--time) var(--cubic),
    border-color var(--time) var(--cubic);
}
.clients_ref:hover,
.clients_ref:focus{
    color: var(--accent-color);
    border-color: var(--accent-color);
}

.clients_icon{
fill: currentColor;
width: 106px;
height: 60px;
}

/*Футер*/
.two_columns{
    display: flex;
    align-items: baseline;
}

.footer_text,
.form_text{
    color: var(--white);
    font-weight: 700;
font-size: 14px;
line-height: calc(16/14);
letter-spacing: 0.03em;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.adress{
    margin-top: 20px;
}
.adress_list{
    margin-right: 90px; 
    width: 220px;
    
}
.fsocials_link{
display: flex;
justify-content: center;
align-items: center;
width: 100%;
height: 100%;
border-radius: 50%;
color: var(--white);
background: rgba(255, 255, 255, 0.1);
transition: background-color var(--time) var(--cubic);
}

.fsocials_link:hover,
.fsocials_link:focus{
background-color: var(--accent-color);
}

.fsocials_icon{
    fill: currentColor;
    height: 20px;
    width: 20px;
}
.fsocials{
    margin-top: 0;
    display: flex;
    gap: 10px;
}
.footer{
    padding-bottom: 60px;
    padding-top: 60px;
}

.spart_logo{
    color: var(--primary-background);
    font-family: Raleway,sans-serif;
    font-weight: 700;
    font-size: 25px;
    line-height: calc(30/25);
}

.place{
    color: var(--primary-background);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24/14);
    margin-bottom: 9px;
    transition: color var(--time) var(--cubic);
}
.adress_item{
    margin-bottom: 9px;
}
.adress_item_sec:not(:last-child){
    margin-bottom: 9px;
}
.auth{
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: calc(21/14);
color: rgba(255, 255, 255, 0.6);
margin-bottom: 9px;

}
.form_box{
    margin-left: auto;
}
.form_mail{
    background-color: var(--background-hero);
    color: var(--white);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    min-width: 358px;
    padding: 15px 15px;
    transition: border-color var(--time)var(--cubic);
}
.form_mail:focus{
    border-color:var(--accent-color) ;
}
.form_mail::placeholder{
font-weight: 400;
font-size: 16px;
line-height: calc(20/16);
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}

.form_button{
display: flex;
align-items: center;
color: var(--primary-background);
background-color: var(--accent-color);
border-color: transparent;
font-family: inherit;
cursor: pointer;
font-weight: 700;
font-size: 16px;
line-height: 30px;
letter-spacing: 0.06em;
padding: 10px 28px;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;

}
.footer_form{
    display: flex;
    gap: 12px;
    height: 50px;
}
.form_icon{
fill: currentColor;
width: 24px;
height: 24px;
margin-left: 10px;
}

.place:hover,
.auth:hover{
    color: var(--accent-color);
}

/* Друга сторінка*/
.port_logo{
font-size: 26px;
line-height: calc(31/26);
letter-spacing: 0.03em;
text-shadow: none;
}

.port_line{
    border-bottom: 1px solid var(--line);
}
.blist{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.buttons{
    color: var(--title-text-color);
    background-color: var(--secondary-background);
    border-color: transparent;
    font-family: inherit;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26/16);
    padding: 6px 20px;
    border-radius: 4px;
    border-color: transparent;
    transition: color var(--time)var(--cubic),
    background-color var(--time)var(--cubic),
    box-shadow var(--time) var(--cubic);
}
.buttons:hover,
.buttons:focus{
    color: var(--primary-background);
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.blist .bitem:not(:first-child){
margin-left: 8px;
}
.card_thumb{
position: relative;
overflow: hidden;
}

.obertka{
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    padding-top: 63px;
    padding-bottom: 63px;
    padding-left: 24px;
    padding-right: 47px;
    background-color: var(--card-text-color);
    transform: translateY(+100%);
    transition: transform var(--time) var(--cubic);
}
.card_overlay{
font-weight: 400;
font-size: 18px;
line-height: calc(29/18);
color: var(--white);
min-width: 322px;
}

.card_list{
    display: flex;
    flex-wrap: wrap;
}
.card_item{
    background: var(--white);
    margin-bottom: 30px;
   }
.card_item:nth-child(n+7){
    margin-bottom: 0;
   }
.card_box{
     border-bottom: 1px solid var(--line);
     border-left: 1px solid var(--line);
     border-right: 1px solid var(--line);
     padding-bottom: 20px;
     padding-left: 24px; 
     padding-top: 20px;
}
.card_list .card_item{
    margin-right: 30px;
}
.card_item:nth-child(3n){
    margin-right: 0;
}


.card_titile{
color: var(--title-text-color);
font-weight: 700;
font-size: 18px;
line-height: calc(36/18);
margin-bottom: 4px;
}
.card_text{
color: var(--primary-text-color);
font-weight: 400;
font-size: 16px;
line-height: calc(30/16);

}
.card_ref{
    text-decoration: none;
    display: block;
    transition: box-shadow var(--time) var(--cubic);
    overflow: hidden;
}
.card_ref:hover,
.card_ref:focus{
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
1px 4px 6px rgba(0, 0, 0, 0.16);
}
.card_ref:hover .obertka,
.card_ref:focus .obertka{
transform: translateY(0);
}

/*Модалка*/
.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1;
    transition: opacity var(--time)var(--cubic),
    visibility var(--time)var(--cubic);
}

.backdrop.is-hidden{
opacity: 0;
pointer-events: none;
visibility: hidden;
}

.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 40px;
    transform: translate(-50%, -50%) scale(1);
    width: 528px;
    min-height: 581px;
    background-color: var(--white);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    opacity: 1;
    transition: transform var(--time) var(--cubic),
    opacity var(--time)var(--cubic);
}

.backdrop.is-hidden .modal{
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.2);
    
}

.modal_button{
position: absolute;
top: 14px;
right: 14px;
background-color: var(--white);
border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 50%;
display: inline-flex;
align-items: center;
justify-content: center;
cursor: pointer;
width: 32px;
height: 32px;
padding: 0;
color: var(--black);
transition: color var(--time)var(--cubic);
}
.modal_button:hover,
.modal_button:focus{
    color: var(--accent-color);
}
.end_button{
display: block;
margin: 0 auto;
color: var(--white);
background-color: var(--accent-color);
cursor: pointer;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 4px;
border-color: transparent;
font-weight: 700;
line-height: calc(30/16);
padding: 10px 52px;
letter-spacing: 0.06em;
transition: background-color var(--time)var(--cubic);

}
.end_button:hover,
.end_button:focus{
    background-color: var(--button-hover);
}
.modal_form_group{
    margin-bottom: 20px;
}
.modal_form_field{
    width: 100%;
    height: 40px;
    color: var(--black);
    padding-left: 42px;
    padding-top: 12px;
    padding-bottom: 12px;
    outline-color: rgba(33, 33, 33, 0.2);
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color var(--time)var(--cubic),
    outline var(--time)var(--cubic) ;
}
.modal_form_field:focus{
    border-color: var(--accent-color);
    outline-color: var(--accent-color);
}
.modal_form_field:focus + .modal_form_icon{
    fill: var(--accent-color);
}
.modal_icon{
width: 18px;
height: 18px;
fill: currentColor;
}
.modal_form_label{
    display: block;
}
.modal_form_icon{
    position: absolute;
    width: 18px;
    height: 18px;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill var(--time)var(--cubic);
}
.modal_form_wrapper{
    position: relative;
    margin-top: 4px;
    margin-bottom: 10px;
    color: var(--black);
    transition: color var(--time)var(--cubic);
}
.modal_form_wrapper:focus,
.modal_form_wrapper:hover{
    color: var(--accent-color);
}
.form_main{
display: block;
margin-bottom: 12px;
font-weight: 700;
font-size: 20px;
line-height: calc(23/20);
text-align: center;
letter-spacing: 0.03em;
color: var(--black);
}
.modal_form_label{
color: var(--primary-text-color);
font-weight: 400;
font-size: 12px;
line-height: calc(14/12);
letter-spacing: 0.01em;
}
.modal_form_comment{
display: block;
margin-top: 4px;
padding: 12px 16px;
color: var(--black);
resize: none;
border: 1px solid rgba(33, 33, 33, 0.2);
border-radius: 4px;
outline-color: rgba(33, 33, 33, 0.2);
width: 100%;
height: 120px;
transition: border-color var(--time)var(--cubic),
outline var(--time)var(--cubic);
}
.modal_form_comment:focus{
    border-color: var(--accent-color);
    outline-color: var(--accent-color);
}
.modal_form_comment::placeholder{
font-weight: 400;
font-size: 12px;
line-height: calc(14/12);
letter-spacing: 0.01em;
color: rgba(117, 117, 117, 0.5);
}

.user_agreement{
user-select:none;
-webkit-user-select: none;
font-weight: 400;
font-size: 14px;
line-height: calc(24/14);
letter-spacing: 0.03em;
color: var(--primary-text-color);

}
.agreement_link{
    color: var(--accent-color);
    text-underline-offset: 3px ;
}

.agreement_box{
    display: flex;
    gap: 7px;
    align-items: center;
    justify-content: center;
   margin-bottom: 30px;
}

.modal_form_checkbox{
appearance: none;
width: 16px;
height: 15px;
border: 2px solid var(--black);
border-radius: 2px;

background-position: center;
background-repeat: no-repeat;
background-size: 0;
transition: background-size var(--time)var(--cubic),
background-color var(--time)var(--cubic),
border-color var(--time)var(--cubic);
}
.modal_form_checkbox:checked{
border-color: var(--accent-color); 
background-color: var(--accent-color);
background-image: url("data:image/svg+xml,%3Csvg width='13' height='10' viewBox='0 0 13 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.95703 4.75166L1.88825 4.68604L1.81923 4.75141L0.93123 5.59258L0.854858 5.66492L0.930974 5.73753L4.42671 9.07236L4.49574 9.1382L4.56476 9.07236L12.069 1.91352L12.1449 1.84116L12.069 1.76881L11.1873 0.927644L11.1183 0.861826L11.0493 0.927611L4.49577 7.17353L1.95703 4.75166Z' fill='white' stroke='white' stroke-width='0.2'/%3E%3C/svg%3E%0A");
background-size: 11px 8px;
}